/* componentes.css
 *
 * Vales Corp
 *
 * Para estilos aplicables en cualquier cosa, encontrarás desde formato de texto hasta efectos de texto, por eso son componentes
 */
.subrayado {
    text-decoration: underline;
}

.negritas {
    font-weight: bold;
}

.normal {
    font-weight: normal !important;
}

.cursiva {
    font-style: italic;
}

.justificado {
    text-align: justify;
}

.centrado {
    text-align: center;
    align-self: center;
    justify-content: center;
}

.izquierda {
    text-align: left;
}

.dorado {
    display: block;
    color: transparent;
    background: linear-gradient(
        270deg,
        #dfbd69,
        #f7ef8a,
        #ccaf20,
        #d2ac47,
        #edc967,
        #dfbd69,
        #ccaf20
    );
    animation: gradiente 604s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

.plateado {
    display: block;
    color: transparent;
    background: linear-gradient(
        270deg,
        #f8f8f8,
        #a6a7ab,
        #ffffff,
        #f8f8f8
    );
    animation: gradiente 30s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

.doradoespecial {
    border: none;
    border-radius: 40px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    text-decoration: none;
    user-select: none;
}

.doradoespecial::before {
    position: absolute;
    content: "";
    color: #ffd277;
    inset: 3px;
    border-radius: 40swift px;
    background-color: rgba(0, 0, 0, 0.842);
}

.doradoespecial span {
    z-index: 1;
    display: block;
}

.doradoespecial:hover {
    background-position: right;
    transition-duration: 1s;
}

.doradoespecial:hover::before {
    background-position: right;
    transition-duration: 1s;
}

.doradoespecial:active {
    transform: scale(0.95);
}

.svgdorado {
    width: 50px;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(
        270deg,
        #dfbd69,
        #f7ef8a,
        #ccaf20,
        #d2ac47,
        #edc967,
        #dfbd69,
        #ccaf20
    );
    background-size: 60% 100%;
    animation: gradiente 604s linear infinite;
    mask: url("../.././ui/cdlogo.svg") center/contain no-repeat;
    -webkit-mask: url("../.././ui/cdlogo.svg") center/contain no-repeat;
}

.svgprincipal img::before {
    width: 40vw;
    height: 40vw;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(
        270deg,
        #dfbd69,
        #f7ef8a,
        #ccaf20,
        #d2ac47,
        #edc967,
        #dfbd69,
        #ccaf20
    );
    background-size: 60% 100%;
    animation: gradiente 604s linear infinite;
    mask: url("../.././ui/cdisog2.svg") center/contain no-repeat;
    -webkit-mask: url("../.././ui/cdisog2.svg") center/contain no-repeat;
}

.aquamarina {
    color: transparent;
    background: linear-gradient(
        270deg,
        #061829,
        #10374a,
        #165668,
        #104046,
        #034948,
        #005d5c
    );
    animation: gradiente 64s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

.morradop3 {
    color: transparent;
    background: linear-gradient(
        270deg,
        #0025f6,
        #00b9fc,
        #0094fb,
        #006ff9,
        #004af8
    );
    animation: gradiente 64s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

.sangre {
    color: transparent;
    background: linear-gradient(
        270deg,
        #d91a1a,
        #b41c1c,
        #912a2c,
        #4e1a1d,
        #761010,
        #990f02
    );
    animation: gradiente 64s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

.arcoiris {
    color: transparent;
    background: linear-gradient(
        270deg,
        #1e5799,
        #2ce0bf,
        #76dd2c,
        #dba62b,
        #ff1493,
        #1e5799
    );
    animation: gradiente 64s linear infinite;
    background-size: 60% 100%;
    -webkit-background-clip: text;
    text-align: center;
}

@keyframes gradiente {
    0% {
        background-position-x: 0;
    }
    to {
        background-position-x: 10240px;
    }
}

.edicion {
    margin-top: 5%;
    margin-bottom: 8%;
    color: #ffffff;
    text-shadow:
        rgb(0, 0, 0) 7px 0px 0px,
        rgb(0, 0, 0) 6.92869px 0.996602px 0px,
        rgb(0, 0, 0) 6.71622px 1.9729px 0px,
        rgb(0, 0, 0) 6.36692px 2.909px 0px,
        rgb(0, 0, 0) 5.8879px 3.78584px 0px,
        rgb(0, 0, 0) 5.28893px 4.58555px 0px,
        rgb(0, 0, 0) 4.5822px 5.29183px 0px,
        rgb(0, 0, 0) 3.78212px 5.8903px 0px,
        rgb(0, 0, 0) 2.90498px 6.36876px 0px,
        rgb(0, 0, 0) 1.96865px 6.71747px 0px,
        rgb(0, 0, 0) 0.992221px 6.92932px 0px,
        rgb(0, 0, 0) -0.00442571px 7px 0px,
        rgb(0, 0, 0) -1.00098px 6.92806px 0px,
        rgb(0, 0, 0) -1.97715px 6.71498px 0px,
        rgb(0, 0, 0) -2.91303px 6.36508px 0px,
        rgb(0, 0, 0) -3.78956px 5.88551px 0px,
        rgb(0, 0, 0) -4.58889px 5.28603px 0px,
        rgb(0, 0, 0) -5.29472px 4.57885px 0px,
        rgb(0, 0, 0) -5.89269px 3.77839px 0px,
        rgb(0, 0, 0) -6.3706px 2.90095px 0px,
        rgb(0, 0, 0) -6.71871px 1.96441px 0px,
        rgb(0, 0, 0) -6.92995px 0.98784px 0px,
        rgb(0, 0, 0) -6.99999px -0.00885142px 0px,
        rgb(0, 0, 0) -6.92743px -1.00536px 0px,
        rgb(0, 0, 0) -6.71372px -1.98139px 0px,
        rgb(0, 0, 0) -6.36324px -2.91705px 0px,
        rgb(0, 0, 0) -5.88311px -3.79328px 0px,
        rgb(0, 0, 0) -5.28313px -4.59223px 0px,
        rgb(0, 0, 0) -4.57551px -5.29762px 0px,
        rgb(0, 0, 0) -3.77466px -5.89508px 0px,
        rgb(0, 0, 0) -2.89692px -6.37243px 0px,
        rgb(0, 0, 0) -1.96016px -6.71995px 0px,
        rgb(0, 0, 0) -0.983458px -6.93057px 0px,
        rgb(0, 0, 0) 0.0132771px -6.99999px 0px,
        rgb(0, 0, 0) 1.00974px -6.92679px 0px,
        rgb(0, 0, 0) 1.98564px -6.71247px 0px,
        rgb(0, 0, 0) 2.92107px -6.36139px 0px,
        rgb(0, 0, 0) 3.797px -5.88071px 0px,
        rgb(0, 0, 0) 4.59557px -5.28022px 0px,
        rgb(0, 0, 0) 5.30051px -4.57216px 0px,
        rgb(0, 0, 0) 5.89746px -3.77094px 0px,
        rgb(0, 0, 0) 6.37426px -2.89289px 0px,
        rgb(0, 0, 0) 6.72119px -1.95591px 0px,
        rgb(0, 0, 0) 6.93119px -0.979076px 0px;
}

.bordePulso {
    animation: bordePulsante 3s infinite;
}

.brilloPulso {
    animation: brilloPulsante 3s infinite;
}

/* Efecto de brillo pulsante en borde de elemento */
@keyframes brilloPulsante {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.0);
    }
    25% {
        box-shadow: 0 0 15px 5px rgba(227, 152, 54, 0.8);
    }
    50% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Efecto de borde pulsante, solido */
@keyframes bordePulsante {
    0%, 100% {
        border: 2px solid transparent;
    }
    20% {
        border: 2px solid #ffffff;
    }
}

.espaciado {
    padding-left: 5px;
    padding-right: 5px;
}

.redondeado {
    border-radius: 15px !important;
}

.vidrio.negro {
    border: 1px solid rgba(34, 36, 38, 0.15);
    background-color: #0000007a !important;
    backdrop-filter: blur(10px);
    margin-bottom: 2px;
    padding-bottom: 3%;
    background: #111;
}

.difuminado {
    border-radius: 20px;
    display: block;
    mask-image:
        linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%),
        linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
    mask-composite: intersect;
        -webkit-mask-image:
        linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%),
        linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
        -webkit-mask-composite: intersect;
}



/* Componentes solo para pc */
@media (min-width: 768px) {
    .cuarenta.pt {
        font-size: 40pt !important;
    }
    .treinta.pt {
        font-size: 30pt !important;
    }
}

/* Componentes solo para fono */
@media (max-width: 767px) {

}

.neon {
  /* color: #fff; */
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #a30705,
    0 0 80px #a30705,
    0 0 90px #a30705,
    0 0 100px #a30705,
    0 0 150px #a30705;
}
